<section id="footer" class="bg-[#f8f8f8] dark:bg-gray-900 mt-16 relative inset-x-0 bottom-0 mb-0 mx-auto w-full">
  <hr class="h-px my-6 bg-gray-200 border-none dark:bg-gray-700">
  <div class="container p-6 mx-auto">
    <p class="text-center text-gray-500 dark:text-gray-400">© Message Board 2023 - All rights reserved</p>
  </div>
</section>